:root {
    --login-bg:#f8f3ff;
    --title-bg: #3D2C8D;
    --button-bg: #674baf;
    --light-pink: #3D2C8D;
    --image-bg:  #eadbff ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.nav{
    height:50%
}

.nav-enlace {
    background: #f1bf8200;}

.nav-enlace:hover {
        background: #f1bf82;}
        
body {
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
    background-image: linear-gradient(120deg, #C996CC 0%, #1C0C5B 100%);
}

.slidefondo{
    background-color: #0f0633;
}

/* Gabriel - Error 404 */
h1 {
    margin: 0px;
}

.error-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
    width: 100%;
}

.error-message__container {
    text-align: center;
    color: white;
}

h1 {
    font-size: 60px;
}
p {
    font-size: 18px;
}

.animated {
animation-duration: 2,5s;
animation-fill-mode: both;
animation-iteration-count: infinite;
}

.Starcodeanimation {
animation: Starcodeanimation 2.5s ease 1.5s 1 normal forwards;
}

@keyframes Starcodeanimation {
0%,
100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
}

15% {
    transform: translateX(-30px) rotate(6deg);
}

30% {
    transform: translateX(15px) rotate(-6deg);
}

45% {
    transform: translateX(-15px) rotate(3.6deg);
}

60% {
    transform: translateX(9px) rotate(-2.4deg);
}

75% {
    transform: translateX(-6px) rotate(1.2deg);
}
}

/* body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to top, #3D2C8D 0%, #fbc2eb 100%);
} */

/* CSS Loguin Gabriel */
.login-container {
    height: 43.75em;
    width: 60em;
    margin: 6em auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.login-info-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 0.5rem;
    background-color: var(--login-bg);
}

.image-container {
    padding: 2rem;
    width: 50%;
    background-color: var(--image-bg);
    box-sizing: border-box;
}

.title {
    text-transform: capitalize;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--title-bg);
}

.social-login {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.social-login-element {
    width: 12.5rem;
    height: 3.75rem;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    border-radius: 5px;
    border: 1px solid var(--button-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-login-element img {
    width: 1.875rem;
    height: 1.875rem;
    position: relative;
    top: 0;
    left: -0.625rem;
}

.social-login-element:hover {
    background-color: #fff;
}

.login-info-container > p {
    font-size: 1.25em;
    margin-top: 1.5em;
}

.inputs-container {
    height: 55%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input, .btn {
    width: 90%;
    height: 3.125rem;
    font-size: 1em;
}

.input {
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
}

.input:hover {
    border: 2px solid var(--button-bg);
}

.btn {
    width: 80%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: var(--button-bg);
    cursor: pointer;
}

.inputs-container p {
    margin: 0;
}

.span {
    color: var(--light-pink);
    font-weight: 600;
    cursor: pointer;
}


@media screen and (max-width: 1000px) {
    .login-container {
        width: 70%;
        margin-top: 3rem;
    }
    .login-info-container {
        width: 100%;
        border-radius: 5px;
    }
    
    .image-container {
        display: none;
    }  
}

@media screen and (max-width: 650px) {
    .login-container {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .login-container {
        height: 90%;
    }

    .social-login {
        flex-direction: column;
        align-items: center;
        height: 30%;
    }

    .login-info-container > p {
        margin: 0;
    }
}
/* FIN CSS Loguin*/

/* About US Marcos */
.titulo{
    margin-top: 150px;
    width: 75%;
}


/*Nosotros*/
.card1 {
    position: relative;
    width: 250px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(73, 69, 52, 0.4);
    margin: 40px;
}

.card1 .content {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    padding: 20px;
    background: #e0aed9;
}

.card1 .content .img {
    height: 50%;
    margin-bottom: 20px;
}

.card1 .content .img img {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.card1 .content span {
    position: absolute;
    width: 350px;
    height: 200px;
    background: linear-gradient(to left, #3D2C8D 50%, #fbc2eb 100%);
    top: 285px;
    left: 0px;
}

.card1 .content h4 {
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
    color: rgba(4, 1, 1, 0.883);
    margin-bottom: 10px;
}

.card1 .content h6 {
    font-size: 20px;
    font-weight: bold;
    color: #5e2066;
    margin-bottom: 20px;
}


/*Fin Nosotros*/



/*Footer*/
.fa{
    font-size:1.5vw;
    padding:0 8px;
    color: rgb(44, 53, 167);
}
.fa:hover, .fa:active{
    color: rgb(211, 19, 183);
}

.buttons a img {
    transition: all .4s ease-in-out;
}
.buttons a img:hover {
    transform: scale(1.2);
}

.btnF {
    background-color: #3D2C8D;
    padding: 5px 2px 5px 2px;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
}
/*Footer*/

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.buscador{
    text-align: center;
    margin-top: 20px;
  }

.gale {
    max-width: 100%;
    height: auto;
    width: auto;
}


.contenedor-comentarios {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.contenedor-comentarios img {
    width: 100%;
}

.area-comentar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 1.5rem;
    padding: 18px;
    background-color: #fff;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1);
    border-radius: 12px;
}

.comentarios-usuarios {
    width: calc(100% - 2.5rem);
}

.contenedor-comentarios a {
    text-decoration: none;
}

.comentar-publicacion .avatar,
.publicacion-realizada .usuario-publico .avatar,
.contenedor-comentarios .comentario-principal-usuario .avatar,
.area-comentar .avatar {
    display: flex;
    width: 65px;
    height: 65px;
    background-color: #F4F4F4;
    border-radius: 50%;
    overflow: hidden;
}
.comentarios-usuarios .nombre-usuario {
    font-weight: bold;
    margin-right: .5rem;
    color: inherit;
}
/* botones comentar */
.boton-subir-archivo {
    position: relative;
    display: inline-block;
}

.boton-subir-archivo input[type="file"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.boton-file,
.boton-enviar {
    display: inline-block;
    border: 0;
    background-color: #374D71;
    padding: 7px 15px;
    margin-right: .5rem;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color ease-in 200ms;
}

.boton-file:hover,
.boton-enviar:hover {
    background-color: #4C6FA7;
}

/* fin */
.contenedor-comentarios .comentario-principal-usuario .comentario,
.area-comentar .inputs-comentarios {
    flex-grow: 1;
    flex-basis: 0;
    margin-left: .5rem;
}

.area-comentar .inputs-comentarios {
    margin-left: 1rem;
}

.contenedor-comentarios .comentario-principal-usuario .texto,
.area-comentar .inputs-comentarios .area-comentario {
    border: 0;
    background-color: #F0F0F0;
    display: block;
    width: 100%;
    border-radius: 12px;
    margin-bottom: .5rem;
}

.botones-comentario span.tiempo-comentario {
    font-size: 0.8rem !important;
    color: #9F9F9F;
    margin-left: .25rem;
}

.area-comentar .inputs-comentarios .area-comentario {
    padding: 12px 15px;
}

.area-comentar .inputs-comentarios .botones-comentar {
    display: flex;
}

/* comentarios de usuario */
.comentarios-usuarios .comentario-principal-usuario {
    display: flex;
    flex-wrap: wrap;
}

.comentarios-usuarios .usuario-comentario {
    width: 100%;
    display: block;
    margin-bottom: 0.75rem;
    position: relative;
}

.menu-comentario {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #E9E9E9;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.comentarios-usuarios .usuario-comentario .menu-comentario {
    top: 5px;
    right: -15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
}

.comentarios-usuarios .usuario-comentario:hover .menu-comentario {
    display: flex;
}

.publicacion-realizada .menu-comentario {
    display: flex;
    right: 0;
}

.menu-comentario .menu {
    list-style: none;
    position: absolute;
    right: 100%;
    background-color: #fff;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
    border-radius: 8px;
    padding-top: 7px;
    padding-bottom: 7px;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in 200ms;
}

.menu-comentario:hover .menu {
    opacity: 1;
    visibility: visible;
}

.menu-comentario .menu a {
    display: block;
    padding: 7px 15px;
    color: inherit;
}

.menu-comentario .menu a:hover {
    background-color: #E1E1E1;
}

.publicacion-realizada .usuario-publico .avatar,
.comentarios-usuarios .comentario-principal-usuario .avatar {
    width: 45px;
    height: 45px;
}

.comentarios-usuarios .comentario-principal-usuario .texto {
    padding: 10px 15px;
    width: auto;
    display: inline-block;
    max-width: 100%;
    margin-bottom: .25rem;
    font-size: 0.9rem;
    position: relative;
    padding-right: 1.65rem;
}

.comentarios-usuarios .comentario-principal-usuario .comentar-comentario {
    width: 100%;
    display: flex;
}

.comentarios-usuarios .comentar-publicacion input[type="text"] {
    border: 0;
    background-color: #E1E1E1;
    flex-grow: 1;
    flex-basis: 0;
    padding: 8px 10px;
    font-size: .9rem;
    border-radius: 8px;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.botones-comentario {
    display: block;
}

.botones-comentario button {
    display: inline-block;
    border: 0;
    padding: 3px 8px;
    font-size: .8rem;
    border-radius: 8px;
    cursor: pointer;
}

.botones-comentario button:hover {
    background-color: #D5D8E1;
}

.comentar-publicacion .avatar,
.contenedor-sub-comentarios .comentario-principal-usuario .avatar {
    width: 32px;
    height: 32px;
}

.boton-enviar i,
.boton-file i,
.boton-puntuar i,
.boton-responder i {
    margin-right: .5rem;
}

/* publicacion realizada */
.publicacion-realizada {
    margin-bottom: 1.5rem;
}

.publicacion-realizada .usuario-publico {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: .5rem;
    position: relative;
}

.publicacion-realizada .usuario-publico .contenido-publicacion {
    margin-left: 1rem;
}

.comentar-publicacion {
    display: flex;
    width: 100%;
}

.comentar-publicacion .comentar-comentario {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    align-items: center;
}

.publicacion-realizada p {
    margin-bottom: 0.5rem;
    font-size: 0.9em;
}

.archivo-publicado img {
    position: relative;
    width: 100%;
    border-radius: 8px;
}

.publicacion-realizada .contenido-publicacion ul {
    list-style: none;
    font-size: 0.8em;
    color: #909090;
}

.mensaje a {
    color: inherit;
    margin-right: .5rem;
    display: inline-block;
}
.mensaje a:hover {
    color: #309B76;
    transform: scale(1.4)
}
